#wrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

#wrapper > #output {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

#wrapper > #output > #text {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;

}

#wrapper > #output > #graphs {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

#wrapper > #inputs {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-evenly;
  column-gap: 2em;

  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

#wrapper > #inputs > div {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start
}

#wrapper > #inputs > div > div {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1em;

  padding: 1em 0.5em;
}

/* border top for last child */
#wrapper > #inputs > div > div:last-child {
  border-top: 1px solid #ccc;
}

#wrapper > #inputs > div > div > div > *, #wrapper > #inputs > div > div.controls > * {
  margin: 0 0.2em;
  white-space: nowrap;
}

#wrapper > #inputs input[type="number"] {
  width: 5em;
}